:root {
	--sidebar-width: 20vw;
}

@media (max-width: 600px) {
	:root {
		--sidebar-width: 90vw;
	}
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
}

h1 {
	width: 100%;
	text-align: center;
	border-bottom: 3px solid black;
	padding-bottom: 2vh;
}

.sidebar {
	position: fixed;
	top: 0;
	left: calc(var(--sidebar-width) - 2 * var(--sidebar-width));
	width: var(--sidebar-width);
	height: 100%;
	background-color: #f2f2f2;
	border-right: 1px solid #ddd;
	transition: left 0.3s ease-in-out;
	z-index: 100;
}

.sidebar.open {
	left: 0;
}

.sidebar a {
	text-align: center;
	font-size: min(3vw, 30px);
}

.toggle-button {
	position: absolute;
	top: 2%;
	right: -35px;
	width: 35px;
	height: 35px;
	border: none;
	background-color: #f2f2f2;
	color: #777;
	font-size: 20px;
	cursor: pointer;
}

.sidebar-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 10px;
	justify-content: center;
	align-items: center;
}

.sidebar-title {
	font-size: max(1.75vw, 20px);
	text-align: center;
	margin: 15px;
}

.topic-item {
	margin: 5px 0;
}

.topic-item button {
	padding: 5px;
	border-radius: 5px;
	border: none;
	width: calc(var(--sidebar-width) - 5vw);
	font-size: max(1.5vw, 15px);
	background-color: #fff;
	color: #333;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out;
	cursor: pointer;
}

.topic-item button:hover {
	background-color: #ddd;
}

.content {
	display: flex;
	flex-direction: column;
	width: fit-content;
	align-items: center;
	margin: 0 auto;
}

.group {
	display: flex;
	flex-direction: row;
	margin: 10px;
	background-color: #f6f6f6;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}

.group li:not(:last-child) {
	margin-bottom: 20px;
}
.group li {
	margin-left: -10px;
}

img {
	width: min(75vw, 500px);
}

mjx-container.MathJax {
	pointer-events: none;
	font-size: max(1.5vw, 14px) !important;
}

.values {
	min-width: 20vw;
	border-collapse: collapse;
}

.values td:first-child,
.values thead tr th:first-child {
	border-right: 2px solid black;
}

.values thead {
	border-bottom: 2px solid black;
}

.values tbody tr:nth-child(odd) {
	background-color: #eaeaea;
}

.values tbody tr:hover {
	background-color: #bfcece;
}

.values td,
.values th {
	text-align: center;
	padding: 5px;
}

.values-blank td:first-child {
	font-size: 20px;
	padding-right: 50px;
	user-select: none;
}

.values-blank tr:not(:last-child) td {
	padding-bottom: 30px;
}

.link {
	text-align: center;
	position: absolute;
	bottom: 0;
	text-decoration: none;
}

.link p {
	margin: 0;
	font-size: 25px;
}

.modal {
	font-size: 12px;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
}

tr[aria-describedby]  {
	cursor: pointer;
}

.modal>.header {
	width: 100%;
	border-bottom: 1px solid gray;
	font-size: 20px;
	text-align: center;
	padding: 5px;
}

.modal>.content {
	padding: 10px 5px;
}

.modal>.close {
	cursor: pointer;
	position: absolute;
	display: block;
	padding: 2px 5px;
	line-height: 20px;
	right: -10px;
	top: -10px;
	font-size: 24px;
	background: #ffffff;
	border-radius: 18px;
	border: 1px solid #cfcece;
}

.math-text {
	font-size: 20px;
}

.math-text span[style="display: block;"] {
	display: inline-block !important;
}

.math-text span {
	white-space: break-spaces;
}